@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: true;

  --color-base-100: #0F0F0F;
  --color-base-200: #151515;
  --color-base-300: #202020;
  --color-base-content: #ffffff;
}